<div class="row" style="height:5%"></div>
<div class="row" style="height:60%">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading"> 2019-2020 Studio Calendar </div>
			<div class="panel-body" style="overflow:scroll; height:90%; max-height:90%">    
				<h1> 2019-2020 Studio Calendar </h1>
				<pre> 
September
5 (Thu) - First day of lessons
14 (Sat) - RCMS Concert, 7:30 pm

October
26 (Sat) - RCMS Concert, 7:30 pm

November
2 (Sat) - MMTA Ensemble Festival, 2 pm
23 (Sat) - MMTA Theory Exams, Rochester
23 (Sat) - MMTA Piano Exams, Rochester
28 (Thu) - Lessons stop (Fall Break)

December
2 (Mon) - Lessons resume
14 (Sat) - RCMS Concert, 7:30 pm
23 (Mon) - Lessons stop (Winter Break)

January
6 (Mon) - Lessons resume
25 (Sat) - RCMS Concert, 7:30 pm
25 (Sat) - MMTA Theory Exams, Rochester
25 (Sat) - MMTA Piano Exams, Rochester

February
1 (Sat) - MMTA Contest (District)
8 (Sat) - SE MN Federation Festival
29 (Sat) - RCMS Concert, 7:30 pm
29 (Sat) - MMTA Contest (Young Artist)

March
1 (Sun) - MMTA Contest (Young Artist)
14 (Sat) - MMTA Contest (State)
15 (Sun) - MMTA Contest (State)
22 (Sun) - Studio Piano Recitals
30 (Mon) - Lessons stop (Spring Break)

April
6 (Mon) - Lessons resume
18 (Sat) - RCMS Concert, 7:30 pm
18 (Sat) - MMTA Theory Exams, Rochester
18 (Sat) - MMTA Piano Exams, Rochester

May
8 (Fri) - Last day of lessons

June
13 (Sat) - MMTA Honors Concert, 7 pm
				</pre>
			</div>
		</div>
		<div class="row" style="height:20%"></div>
	</div>
</div>
