<div class="row justify-content-center h-100">
    <div class="col-sm-11 h-100">
        <div class="card h-100">
            <h2 class="card-header"> 2019-2020 Studio Calendar </h2>
            <div class="card-body h-100">
                <button class="btn m-1" [class.btn-outline-primary]="upClkF" [class.btn-primary]="!upClkF" type="button" (click)="upClk(event)" data-toggle="collapse" data-target="#upEv" aria-expanded="true" aria-controls="upEv"> Upcoming Events </button>
                <button class="btn m-1" [class.btn-outline-primary]="!pastClkF" [class.btn-primary]="pastClkF" type="button" (click)="pastClk(event)" data-toggle="collapse" data-target="#pastEv" aria-expanded="true" aria-controls="pastEv"> Past Events </button>
                <div class="h-100 overflow-auto">
                    <div id="pastEv" class="collapse">
                        <ul class="list-unstyled">
                            <app-event *ngFor="let event of pastEvents" [hasOccurred]="true" [event]="event"></app-event>
                        </ul>
                    </div>
                    <div id="upEv" class="collapse show">
                        <div class="alert alert-info" [hidden]="upcomingEvents.length != 0" role="alert">
                            No upcoming events are currently scheduled.  Check back later!
                        </div>
                        <ul class="list-unstyled">
                            <app-event *ngFor="let event of upcomingEvents" [event]="event"></app-event>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
