#main{
  background-image: url('../img/studio-background.jpg');
  position:fixed;
  width:100%;
  height:100%;
  background-attachment: fixed;
  background-size: cover;
  background-color: none;
  padding-top: 56px;
  padding-bottom: 56px;
}
