<div class="row" style="height:5%"></div>
<div class="row" style="height:70%">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading"> 
				<h2 class="panel-title"> Admission  </h2> </div>
				<div class="panel-body" style="overflow:scroll; max-height:70%">    
					Mrs. Rosanna Nuguid offers 30 min and 45 min private lessons to K-8 students and pre-school students (by special arrangement).  Dr. Horacio Nuguid offers 1 hour private lessons to high school students and advanced adults.  To be considered for admission, complete the form below.  We will contact you to schedule try out lessons only if we have available space. For transfer students, we would need your current piano teacher to e-mail or call us with his/her recommendation.  Please note that submission of the information requested is not a guarantee for admission into the studio.
					
					<div class="page-header">
						<h1> New Student Application Form (Summer 2017) </h1> </div>
						<form name="admission" method="POST" action="https://formspree.io/raf.nuguid@gmail.com">
							<div class="form-group">
								<label for="id_admission_name">Student Name</label>
								<input type="text" class="form-control" placeholder="student name" id="id_admission_name" name="admission_name"/> 
							</div>	
							<div class="form-group">
								<label for="id_admission_date">Birth Date (MM/DD/YYYY)</label>
								<input type="text" id="id_admission_date" class="form-control" placeholder="birth date (mm/dd/yyyy)" name="admission_date"/> 
							</div>
							<div class="form-group">
								<label for="id_admission_school">School Name</label>
								<input type="text" class="form-control" placeholder="school name" name="admission_school"/>
							</div>
							<div class="form-group">
								<label for="id_admission_grade"> Grade of Student </label>
								<input type="text" class="form-control" placeholder="grade of student" name="admission_grade"/>
							</div>
							<div class="form-group">
								<label for="id_admission_parent_1"> Guardian name (1) </label>
								<input type="text" class="form-control"  placeholder="guardian name (1)" name="admission_parent_1"/> 
							</div>
							<div class="form-group">
								<label for="id_admission_parent_2"> Guardian name (2) </label>
								<input type="text" class="form-control"  placeholder="guardian name (2)" name="admission_parent_2"/> 
							</div>
							<div class="form-group">
								<label for="id_admission_address"> Street Address </label>
								<input type="text" class="form-control"  placeholder="street address" name="admission_address"/>
							</div>
							<div class="form-group">
								<label for="id_admission_city"> City </label>
								<input type="text" class="form-control"  placeholder="city" name="admission_city"/>
							</div>
							<div class="form-group">
								<label> State </label>
								<state-select></state-select>
							</div>
							<div class="form-group">
								<label for="id_admission_zip"> Zip Code </label>
								<input type="text" class="form-control"  placeholder="zip code" name="admission_zip"/>
							</div>
							<div class="form-group">
								<label for="id_admission_phone"> Phone # </label>
								<input type="text" class="form-control"  placeholder="phone #" name="admission_phone"/> 
							</div>
							<div class="form-group">
								<label for="id_admission_email"> Email </label>
								<input type="text" class="form-control"  placeholder="email" name="admission_email"/>
							</div>

							<div class="form-group">
								<label> Describe any prior piano studies (please include names of teachers) </label>
								<textarea class="form-control"  name="pianostudies" placeholder="describe any prior piano studies (please include names of teachers)"></textarea>
							</div>

							<div class="form-group">
								<label> Please list all current musical activities </label>
								<textarea class="form-control"  name="musicalact" placeholder="please list all current musical activities"></textarea>
							</div>

							<div class="form-group">
								<label> Please list any other extracurricular activities </label>
								<textarea class="form-control"  name="extracurr" placeholder="please list any other extracurricular activities"></textarea>
							</div>
							<input type="submit" class="btn btn-default"  id="submit" value="Apply" />
						</form>
					</div>
					<div class="panel-footer clearfix"> <small class="pull-right"> Questions? Feel free to e-mail horacionuguid@gmail.com</small> </div>
				</div>
			</div>
		</div>