<div class="row" style="height:5%"></div>
<div class="row" style="height:60%">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading"> 2017 Studio Related Calendar of Events </div>
			<div class="panel-body" style="overflow:scroll; max-height:90%">    
				<h1> 2017 Studio Related Calendar of Events </h1>
				<pre> 

January
3 (Tue) -- Winter break ends, lessons resume 
7 (Sat) -- MMTA Young Artists Contest Registration Deadline 
14 (Sat) -- MMTA Theory and Piano Examinations, Hoffman Madsen Studio 
14 (Sat) -- RCMS Concert, Music of Soviet Russia, Christ United Methodist Church, 7:30 PM 
20 (Fri) -- Registration Deadline for Young Musicians of SE MN Concert 
21 (Sat) -- MMTA District Contest (Preliminaries), Mount Olive Lutheran Church 
27 (Fri) -- Young Musicians of Southeastern MN Concert, Unitarian Universalist Church, 7:00 PM 
27 (Fri) -- Registration Deadline for Bunny Just Piano Festival
28 (Sat) -- MMTA State (Finals) Registration Deadline 

February
4 (Sat) -- Registration Deadline for Rochester Music Guild Competition
18 (Sat) -- MMTA Junior and Senior Young Artists Contest (Preliminaries), Northwestern College, St. Paul 
18 (Sat) -- Bunny Just Piano Festival, Mankato
19 (Sun) -- MMTA Junior and Senior Young Artists Contest (Finals), Schmitt Music, Roseville 
22 (Wed) -- Registration Deadline for Piano Solo Festival
25 (Sat) -- RCMS Concert, Tribute to African-American Pianist-Composers, Christ United Methodist Church, 7:30 PM 

March
10 (Fri) -- Registration Deadline for Young Musicians of SE MN Concert 
11 (Sat) -- Piano Solo Festival, University of Northwestern
11 and 12  (Sat and Sun) -- MMTA State Contest (Finals), University of MN, Minneapolis 
17 (Fri) -- Young Musicians of Southeastern MN Concert, Unitarian Universalist Church, 7:00 PM 
18 (Sat) -- Rochester Area Keyboard Club Competition and Recital
24 (Fri) -- MMTA Theory and Piano Registration Deadline for Apr. Exam. 
25 (Sat) -- Rochester Music Guild Scholarship Competition, Preliminaries, Christ United Methodist Church, Rochester
26 (Sun) -- Rochester Music Guild Scholarship Competition, Finals, Christ United Methodist Church, Rochester  
26 (Sun) -- Nuguid Piano Studio Students Recitals, Congregational/United Church of Christ, 2:15, 4:00 and 5:45 PM

April
3 (Mon) -- Spring break begins, no lessons
8 (Sat) -- RCMS Concert, The Merling Trio, Christ United Methodist Church, 7:30 PM 
10 (Mon) -- Spring break ends, lessons resume
22 (Sat) -- MMTA 1st rehearsal for Honors Concert, Schmitt Music, Brooklyn Center 
29 (Sat) -- MMTA Theory and Piano Examinations, Hoffman Madsen 

May
6  (Sat) -- MMTA 2nd rehearsal for Honors Concert, Schmitt Music, Brooklyn Center 
20 (Sat) -- MMTA 3rd rehearsal for Honors Concert, Schmitt Music, Brooklyn Center 

June
9 (Fri) -- Last day of lessons 
10 (Sat) -- MMTA Honors Concert, Minneapolis Convention Center, 7:00 PM 

July
12 - 22 (Wed - Sat) -- Young Artist World Piano Festival, Bethel University, Arden Hills 

				</pre>
			</div>
		</div>
		<div class="row" style="height:20%"></div>
	</div>
</div>