<div class="row" style="height:5%"></div>
<div class="row" style="height:60%">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading"> 2015-2016 Studio Related Calendar of Events </div>
			<div class="panel-body" style="overflow:scroll; max-height:90%">    
				<p> September </p>
				<p> 14 (Mon) -- First day of lessons </p>
				<p> 19 (Sat) -- RCMS Concert, The Three Davids, Christ United Methodist Church, 7:30 PM </p>
			</div>
		</div>
		<div class="row" style="height:20%"></div>
	</div>
</div>