<div class="row" style="height:5%"></div>
<div class="row" style="height:60%">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading"> <h2> Dr. Horacio Nuguid's Teaching Schedule (2016-2017) </h2> </div>
			<div class="panel-body" style="overflow:scroll; max-height:90%">   
				<table class="table table-striped table-bordered">
					<tr>
						<th> Time (PM) </th> 
						<th> Monday </th> 
						<th> Tuesday </th> 
						<th> Wednesday </th> 
						<th> Thursday </th>
						<th> Friday </th>
					</tr>
					<tr>
						<td> 4:00 </td> 
						<td colspan="2" align="center" class="warning"> N/A </td> 
						<td> Anna McGeeney </td> 
						<td> Paul Walker </td>
						<td> Raymond Zhang </td>
					</tr>
					<tr>
						<td> 5:00 </td> 
						<td> Grace Cheng </td> 
						<td> Maggie Hu </td> 
						<td> Heather Ganfield </td> 
						<td> Alexander Zhu </td>
						<td> Elijah Tan </td>
					</tr>
					<tr>
						<td> 6:00 </td> 
						<td> Tracy Zhang </td> 
						<td> Josh Bestgen </td> 
						<td> Steven Yang </td> 
						<td> Clara Xu </td>
						<td> Emily Deng </td>
					</tr>
					<tr>
						<td> 7:00 </td> 
						<td> Michelle Mai </td> 
						<td> Helen Li </td> 
						<td> Jared Nathan </td> 
						<td> Theo Thayib </td>
						<td> Stephanie Deng </td>
					</tr>
					<tr>
						<td> 8:00 </td>
						<td colspan="5" align="center" class="warning"> Supper </td>
					</tr>
				</table> 

			</div>
		</div>
		<div class="row" style="height:20%"></div>
	</div>
</div>
