<div class="row" style="height:5%"></div>
<div class="row" style="height:60%">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading"> <h2> Mrs. Rosanna Nuguid's Teaching Schedule (2016-2017) </h2> </div>
			<div class="panel-body" style="overflow:scroll; max-height:90%"> 
				<ul class="nav nav-tabs">
					<li class="active"> <a data-toggle="tab" href="#morning"> Morning Schedule (AM) </a> </li>
					<li> <a data-toggle="tab" href="#afternoon"> Afternoon Schedule (PM) </a> </li>  
				</ul>
				<div class="tab-content">
				<div id="morning" class="tab-pane active fade in">
				<h3> Morning Schedule </h3>
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<th> Time (AM) </th> 
							<th> Monday </th> 
							<th> Tuesday </th> 
							<th> Wednesday </th> 
							<th> Thursday </th>
							<th> Friday </th>
						</tr>
						<tr>
							<td> 8:00 </td> 
							<td rowspan="16" align="center"> N/A </td> 
							<td rowspan="16" align="center"> N/A </td> 
							<td rowspan="2"> Henry Gladden </td> 
							<td rowspan="16"> N/A </td>
							<td rowspan="2"> Ethan Pei </td>
						</tr>
						<tr>
							<td> 8:15 </td> 
						</tr>
						<tr>
							<td> 8:30 </td> 
							<td rowspan="2"> Vivian Chen </td> 
							<td rowspan="2"> Ellen Pei </td> 
						</tr>
						<tr>
							<td> 8:45 </td> 
						</tr>
						<tr>
							<td> 9:00 </td> 
							<td rowspan="2"> Charles Dangerfield </td> 
							<td rowspan="14"> N/A </td> 
						</tr>
						<tr>
							<td> 9:15 </td> 
						</tr>
						<tr>
							<td> 9:30 </td> 
							<td rowspan="2"> Henry Dangerfield </td> 
						</tr>
						<tr>
						<td> 9:45 </td>
						</tr>
						<tr>
							<td> 10:00 </td> 
							<td rowspan="3"> Alexandria Lowe </td> 
						</tr>
						<tr>
							<td> 10:15 </td> 
						</tr>
						<tr>
							<td> 10:30 </td> 
						</tr>
						<tr>
							<td> 10:45 </td> 
							<td rowspan="3"> Lydia Lowe</td>
						</tr>
						<tr>
							<td> 11:00 </td> 
						</tr>
						<tr>
							<td> 11:15 </td> 
						</tr>
						<tr>
							<td> 11:30 </td> 
							<td rowspan="2"> N/A </td>
						</tr>
						<tr>
							<td> 11:45 </td> 
						</tr>
						<tr>
							<td> 12:00 </td> 
							<td colspan="5" align="center"> Lunch </td>
						</tr>						
					</table>
				</div>
				<div id="afternoon" class="tab-pane fade">
								<h3> Afternoon Schedule </h3>

					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<th> Time (PM) </th> 
							<th> Monday </th> 
							<th> Tuesday </th> 
							<th> Wednesday </th> 
							<th> Thursday </th>
							<th> Friday </th>
						</tr>
						<tr>
							<td> 3:00 </td> 
							<td rowspan="3"> Christine Yao </td> 
							<td rowspan="3"> Ethan Yao </td> 
							<td rowspan="3"> Chloe Hooten </td> 
							<td rowspan="3"> Mandy Yu </td>
							<td rowspan="3"> Nathan Zhang </td>
						</tr>
						<tr>
							<td> 3:15 </td> 
						</tr>
						<tr>
							<td> 3:30 </td> 
						</tr>
						<tr>
							<td> 3:45 </td> 
							<td rowspan="2"> So-Yeon Smith </td>
							<td rowspan="2"> Daniel Min </td>
							<td rowspan="2"> Heder Jang </td>
							<td rowspan="2"> Kai McLeod </td>
							<td rowspan="2"> Maymei Yu </td>
						</tr>
						<tr>
							<td> 4:00 </td> 
						</tr>
						<tr>
							<td> 4:15 </td> 
							<td rowspan="3"> Ryan Li </td>
							<td rowspan="2"> Elma Zhang </td>
							<td rowspan="2"> Arden Peng </td>
							<td rowspan="2"> Liam McLeod </td>
							<td rowspan="2"> Lucas Wang </td>
						</tr>
						<tr>
							<td> 4:30 </td> 
						</tr>
						<tr>
							<td> 4:45 </td> 
							<td rowspan="2"> Amelia Qiu </td>
							<td rowspan="2"> Golden Peng </td>
							<td rowspan="2"> Elizabeth Zhu </td>
							<td rowspan="3"> Julia Wang </td>
						</tr>
						<tr>
							<td> 5:00 </td> 
							<td rowspan="2"> Tiffany Kung </td>
						</tr>
						<tr>
							<td> 5:15 </td> 
							<td rowspan="2"> Cody Qiu </td>
							<td rowspan="2"> Rachel Lou </td>
							<td rowspan="3"> Katherine Zhu </td>
						</tr>
						<tr>
							<td> 5:30 </td>
							<td rowspan="2"> Yasmin Chhunn </td>
							<td rowspan="2"> Gain Choi </td>	 
						</tr>
						<tr>
							<td> 5:45 </td> 
							<td rowspan="2"> Jaden Qiu </td>
							<td rowspan="2"> Rebecca Lou </td>
						</tr>
						<tr>
							<td> 6:00 </td> 
							<td rowspan="3"> David Zhang </td>
							<td rowspan="3"> Jiansong Ding </td>
							<td rowspan="2"> Matt Ding </td>
						</tr>
						<tr>
							<td> 6:15 </td> 
							<td rowspan="2"> Andy Sun </td>
							<td rowspan="2"> Neha Mandrekar </td>
						</tr>
						<tr>
							<td> 6:30 </td> 
							<td rowspan="3"> Marissa Ding </td> 
						</tr>
						<tr>
							<td> 6:45 </td> 
							<td rowspan="2"> Daniel Zhang </td>
							<td rowspan="2"> Dylan Trinidad </td>
							<td rowspan="2"> Norah Yu </td>
							<td rowspan="2"> William Yan </td>
						</tr>
						<tr>
							<td> 7:00 </td> 
						</tr>
						<tr>
							<td> 7:15 </td> 
							<td rowspan="3"> Stephen Wu </td>
							<td rowspan="3"> Nicole Yang </td>
							<td rowspan="3"> Cory Li </td>
							<td rowspan="3"> Maggie Hu </td>
							<td rowspan="3"> Albert Hu </td>
						</tr>
						<tr>
							<td> 7:30 </td> 
						</tr>
						<tr>
							<td> 7:45 </td> 
						</tr>
						<tr>
							<td> 8:00 </td> 
							<td colspan="5" align="center"> Supper </td>
						</tr>
					</table>
				</div>
				</div>
			</div>
		</div>
		<div class="row" style="height:20%"></div>
	</div>
</div>
