<div class="row" style="height:5%"></div>
<div class="row" style="height:60%">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading"> <h2> Mrs. Nuguid’s Teaching Schedule (2017-2018) </h2> </div>
			<div class="panel-body" style="overflow:scroll; max-height:90%"> 
				<ul class="nav nav-tabs">
					<li class="active"> <a data-toggle="tab" href="#morning"> Morning Schedule (AM) </a> </li>
					<li> <a data-toggle="tab" href="#afternoon"> Afternoon Schedule (PM) </a> </li>  
				</ul>
				<div class="tab-content">
				<div id="morning" class="tab-pane active fade in">
				<h3> Morning Schedule </h3>
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<th> Time (AM) </th> 
							<th> Monday </th> 
							<th> Tuesday </th> 
							<th> Wednesday </th> 
							<th> Thursday </th> 
							<th> Friday </th> 
						</tr>
						<tr>
							<td> 8:00 </td> 
							<td rowspan="16"> </td>
							<td rowspan="3"> Alex Cao </td> 
							<td rowspan="2"> Henry Gladden </td>
							<td rowspan="16"> </td>
							<td rowspan="16"> </td> 
						</tr>
						<tr>
							<td> 8:15 </td> 
						</tr>
						<tr>
							<td> 8:30 </td> 
							<td rowspan="3"> Gus Wiedenman </td> 
						</tr>
						<tr>
							<td> 8:45 </td> 
							<td rowspan="13"> </td>
						</tr>
						<tr>
							<td> 9:00 </td> 
						</tr>
						<tr>
							<td> 9:15 </td> 
							<td rowspan="3"> Alexandria Lowe </td> 
						</tr>
						<tr>
							<td> 9:30 </td> 
						</tr>
						<tr>
						<td> 9:45 </td>
						</tr>
						<tr>
							<td> 10:00 </td> 
							<td rowspan="3"> Lydia Lowe </td> 
						</tr>
						<tr>
							<td> 10:15 </td> 
						</tr>
						<tr>
							<td> 10:30 </td> 
						</tr>
						<tr>
							<td> 10:45 </td> 
							<td rowspan="2"> Andrew Baum</td>
						</tr>
						<tr>
							<td> 11:00 </td> 
						</tr>
						<tr>
							<td> 11:15 </td> 
							<td rowspan="2"> Sarah Baum </td>
						</tr>
						<tr>
							<td> 11:30 </td> 
						</tr>
						<tr>
							<td> 11:45 </td> 
							<td>  </td>
						</tr>					
					</table>
				</div>
				<div id="afternoon" class="tab-pane fade">
								<h3> Afternoon Schedule </h3>

					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<th> Time (PM) </th> 
							<th> Monday </th> 
							<th> Tuesday </th> 
							<th> Wednesday </th> 
							<th> Thursday </th>
							<th> Friday </th>
						</tr>
						<tr>
							<td> 3:00 </td> 
							<td rowspan="1"> Not Available </td> 
							<td rowspan="3"> Lingling Han </td> 
							<td rowspan="2"> Not Available </td> 
							<td rowspan="3"> Mandy Yu </td>
							<td rowspan="3"> Cory Li </td>
						</tr>
						<tr>
							<td> 3:15 </td> 
							<td rowspan="3"> Nathan Zhang </td> 
						</tr>
						<tr>
							<td> 3:30 </td> 
							<td rowspan="3"> Golden Peng </td>
						</tr>
						<tr>
							<td> 3:45 </td> 
							<td rowspan="2"> Daniel Min </td>
							<td rowspan="2"> Dylan Trinidad </td>
							<td rowspan="2"> Janelle Xiang </td>
						</tr>
						<tr>
							<td> 4:00 </td> 
							<td rowspan="2"> Soyeon Smith </td>
						</tr>
						<tr>
							<td> 4:15 </td> 
							<td rowspan="3"> Cody Qiu </td>
							<td rowspan="2"> Arden Peng </td>
							<td rowspan="3"> Lucas Wang </td>
							<td rowspan="3"> Jasmine Xiang </td>
						</tr>
						<tr>
							<td> 4:30 </td> 
							<td rowspan="2"> Emma Pido </td>
						</tr>
						<tr>
							<td> 4:45 </td> 
							<td rowspan="2"> Michael Zhang </td>
						</tr>
						<tr>
							<td> 5:00 </td> 
							<td rowspan="2"> Vivian Chen </td>
							<td rowspan="2"> Amelya Qiu </td>
							<td rowspan="3"> Julia Wang </td>
							<td rowspan="2"> Sophia Yang </td>
						</tr>
						<tr>
							<td> 5:15 </td> 
							<td rowspan="2"> Rachel Lou </td>
						</tr>
						<tr>
							<td> 5:30 </td>
							<td rowspan="2"> Tiffany Kung </td>
							<td rowspan="2"> Jaden Qiu </td>
							<td rowspan="2"> Claire Sun </td>	 
						</tr>
						<tr>
							<td> 5:45 </td> 
							<td rowspan="2"> Rebecca Lou </td>
							<td rowspan="3"> Elma Zhang </td>
						</tr>
						<tr>
							<td> 6:00 </td> 
							<td rowspan="2"> Daniel Zhang </td>
							<td rowspan="2"> Matt Ding </td>
							<td rowspan="2"> Yasmin Chhunn </td>
						</tr>
						<tr>
							<td> 6:15 </td> 
							<td rowspan="2"> Neha Mandrekar </td>
						</tr>
						<tr>
							<td> 6:30 </td> 
							<td rowspan="3"> David Zhang </td> 
							<td rowspan="3"> Jiansong Ding </td>
							<td rowspan="3"> Heder Jang </td>
							<td rowspan="3"> William Yan </td>
						</tr>
						<tr>
							<td> 6:45 </td> 
							<td rowspan="2"> Elizabeth Zhu </td>
						</tr>
						<tr>
							<td> 7:00 </td> 
						</tr>
						<tr>
							<td> 7:15 </td> 
							<td rowspan="3"> Alber Hu </td>
							<td rowspan="3"> Maggie Hu </td>
							<td rowspan="3"> Katherine Zhu </td>
							<td rowspan="3"> Nicole Yang </td>
							<td rowspan="3"> Andy Sun </td>
						</tr>
						<tr>
							<td> 7:30 </td> 
						</tr>
						<tr>
							<td> 7:45 </td> 
						</tr>
						<tr>
							<td> 8:00 </td> 
							<td colspan="5" align="center">  </td>
						</tr>
					</table>
				</div>
				</div>
			</div>
		</div>
		<div class="row" style="height:20%"></div>
	</div>
</div>
