<div class="row justify-content-center">
  <div class="col-sm-8 mt-3">
    <div class="card">
      <h5 class="card-header">
	Snow/Ice Day Policy
      </h5>
      <div class="card-body">    
	<p class="card-text">
  Unless you hear otherwise from us, there will be lessons as scheduled on weather related school cancellation days.  However, the decision on whether it is safe to travel to the studio rests on you.  Please let us know if you decide not to come to your lesson because of hazardous road travel conditions or extreme temperatures. If you decide to cancel the lesson due to the weather, we will reschedule it only if there is another available time.
	</p>
      </div>
    </div>
  </div>
</div>
