<div class="row justify-content-center">
  <div class="col-sm-8 mt-3">
    <div class="card">
      <h5 class="card-header">
	Mrs. Rosanna Nuguid 
      </h5>
      <div class="card-body">    
	<img class="float-left w-25 mr-3" src='assets/img/rosanna.jpg'/>
	<p class="card-text">
	  Rosanna Nuguid is a much sought after piano teacher in the Rochester area.  As a member of the Music Teachers National Association, Minnesota Music Teachers Association, Southeast Minnesota Federation Club and Rochester Area Keyboard Club, Mrs. Nuguid provides many performance opportunities for her students by way of festivals, examinations and competitions.  Her students have consistently garnered the top prizes in local piano competitions.  Just last year, her student won first place in the MMTA Junior Young Artist Competition.  Mrs. Nuguid graduated from the University of Santo Tomas with the Bachelor of Music degree in Piano.  Aside from teaching piano, which has been her passion for over 35 years, Mrs. Nuguid likes to paint and dance.
	</p>
      </div>
    </div>
  </div>
</div>
